/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}

/* Header Styles */
header {
    background-color: greenyellow;
    padding: 1rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    color: blue;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Home Section */
#home {
    background: url('your-image.jpg') no-repeat center center/cover;
    height: 100vh;
    color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home h1 {
    font-size: 3rem;
}

#home p {
    font-size: 1.5rem;
}

/* About, Projects, Skills Section */
section {
    padding: 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: Block;
}

.project {
    background-color: orange;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    background-color:#333 ;
    color: orangered;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
